<section class="feature">
  <article class="grid grid--1x2">
    <img
      src="css/images/botm-card.webp"
      alt="BOTM Card"
      class="feature__image"
    />
    <div class="feature__content">
      <h2 class="feature__header">The perfect gift for fun-havers.</h2>
      <p class="feature__body">Let them choose their next reads, on you.</p>

      <div class="feature__btn">
        <a href="#" class="link--white btn btn--primary feature__btn"
          >Gift BOTM</a
        >
      </div>
    </div>
  </article>

  <article class="grid grid--1x2">
    <img
      src="css/images/vbt.jpg"
      alt="Virtual Book Tour"
      class="procedure__image"
    />
    <div class="feature__content">
      <h2 class="feature__header">Meet you new favorite podcast.</h2>
      <p class="feature__body">
        Lend us your ears for a look inside the minds of BOTM writers! Virtual
        Book Tour is a treasure trove of anecdotes, wisdom, and entertainment.
      </p>
    </div>
  </article>
</section>
