<section class="form">
  <h3 class="form__header">See the April books</h3>
  <p class="form__body">
    Each month, we curate an exceptional few new books for our members to choose
    from.
  </p>
  <div class="form__input">
    <div class="form--shrinked">
      <input class="input" type="text" placeholder="First name" />
      <input class="input" type="text" placeholder="Last name" />
    </div>
    <input class="input" type="email" placeholder="Email address" />
    <input class="input" type="address" placeholder="Password" />
  </div>

  <p class="form__footer">
    By clicking "See the books", you agree to Book of the Month’s
    <a href="#" class="link--white link--underline link--small">Terms of use</a>
    and
    <a href="#" class="link--white link--underline link--small"
      >Privacy policy</a
    >.
  </p>

  <a class="btn btn--secondary btn--block form__footer-btn">See the books</a>
</section>
