<section class="procedure">
  <h2>We pick a few. You pick your fave.</h2>
  <article class="grid grid--1x2">
    <img
      class="procedure__image"
      src="css/images/stack-of-books.webp"
      alt="stack of books"
    />
    <div class="procedure__content">
      <h4 class="procedure__title">Step 1</h4>
      <h3 class="procedure__header">Pick your book.</h3>
      <p class="procedure__body">
        We find the best new reads—with an emphasis on early releases, fresh
        perspectives, and debut authors.<br /><br />

        <a href="#" class="link--blue procedure__link">See the books</a>
      </p>
    </div>
  </article>

  <article class="grid grid--1x2">
    <img
      src="css/images/blue-box.webp"
      alt="Blue box raised in the air"
      class="procedure__image"
    />
    <div class="procedure__content">
      <h4 class="procedure__title">Step 2</h4>
      <h3 class="procedure__header">Get your box.</h3>
      <p class="procedure__body">
        Keep your eye out for that bright blue box. Trust us, you’re going to
        want to cancel all your plans.
      </p>
    </div>
  </article>

  <article class="grid grid--1x2">
    <img
      src="css/images/girl-reading.webp"
      alt="Girl reading on the bed"
      class="procedure__image"
    />
    <div class="procedure__content">
      <h4 class="procedure__title">Step 3</h4>
      <h3 class="procedure__header">Skip whenever.</h3>
      <p class="procedure__body">
        Behind on your reading list? Skip any month or roll your credits over,
        no questions asked.
      </p>
    </div>
  </article>
</section>
