<section class="welcome">
  <h1 class="welcome__header">Books are cool again.</h1>
  <div class="welcome__body">
    <p>
      Choose from a curated selection of the best new reads every month and get
      them delivered.
    </p>
  </div>
  <div class="welcome__btn">
    <a href="#" class="link--white btn btn--primary">Join now</a>
    <a href="#" class="link--blue btn btn--secondary">Give a gift</a>
  </div>
  <p>
    Already a member?
    <a href="#" class="link--blue link--underline">Sign in.</a>
  </p>
</section>
